body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    margin: 20px auto;
    border: 1px solid gray;
    background-color: #AAAAAA;
}

#registration, #user-info, #controls {
    width: 100%;
    margin: 20px auto;
}

#map {
    margin: 20px auto;
    width: 100%;
    height: 100%;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1F1F1F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2, h3 {
    text-align: center;
}
