body {
    font-family: Arial, sans-serif;
    background-color: white;

}
.btn1 {
    width: 100%;
    background-color: green;
    color: white;
    border: 5px solid black;
    cursor: pointer;
    
}

.btn2 {
    position: absolute;
    bottom: 10px; /* Відступ від низу сторінки */
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.container {
    border: 1px solid orange;
    background-color: white;
}

#registration, #user-info, #controls, #user-list {
    width: 100%;
}

#map {
    width: 100%;
    height: 600px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}


button:hover {
    background-color: #45a049;
}

h2, h3 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}
